In [32]:
# coding: utf-8
__author__ = 'Ravi: https://kaggle.com/company'

import datetime
from heapq import nlargest
from operator import itemgetter
from collections import defaultdict

# validation ###############
validate = 1  # 1 - validation, 0 - submission
N0 = 10       # total number of parts
N1 = 2        # number of part
#--------------------------

def run_solution():
    print('Preparing arrays...')
    f = open("./train1.csv", "r")
    f.readline()
    best_hotels_od_ulc = defaultdict(lambda: defaultdict(int))
    best_hotels_search_dest = defaultdict(lambda: defaultdict(int))
    best_hotels_search_dest1 = defaultdict(lambda: defaultdict(int))
    best_hotel_country = defaultdict(lambda: defaultdict(int))
    hits = defaultdict(int)
    tp = defaultdict(float)

    popular_hotel_cluster = defaultdict(int)
    total = 0

    # Calc counts
    while 1:
        line = f.readline().strip()
        total += 1
        if total % 10000000 == 0:
            print('Read {} lines...'.format(total))
        if line == '':
            break
        arr = line.split(",")
        book_year = int(arr[0][:4])
        book_month = int(arr[0][5:7])
        user_location_city = arr[5]
        orig_destination_distance = arr[6]
        user_id = int(arr[7])
        is_package = int(arr[9])
        srch_destination_id = arr[16]
        is_booking = int(arr[18])
        hotel_country = arr[21]
        hotel_market = arr[22]
        hotel_cluster = arr[23]
        #adding kids
        kids=int(arr[14])
        if kids>0:
            kids=1
        #add channel
        channel=arr[10]
        #add hotel continent
        cont=arr[3]
        if validate == 1 and user_id % N0 == N1:
            continue

        append_0 = ((book_year - 2012)*12 + (book_month - 12)) * ((book_year - 2012)*12 + (book_month - 12))
        append_1 = append_0 *  (3 + 16*is_booking)
        append_2 = 3 + 5.1*is_booking

        if user_location_city != '' and orig_destination_distance != '':
            best_hotels_od_ulc[(user_location_city, orig_destination_distance)][hotel_cluster] += append_0

        if srch_destination_id != '' and hotel_country != '' and hotel_market != '' and book_year != '' and cont !='' :
            best_hotels_search_dest[(srch_destination_id, hotel_country, hotel_market,is_package,cont)][hotel_cluster] += append_1
            # added kids/removed
            #add channel
        if srch_destination_id != '':
            best_hotels_search_dest1[srch_destination_id][hotel_cluster] += append_1

        if hotel_country != '':
            best_hotel_country[hotel_country][hotel_cluster] += append_2

        popular_hotel_cluster[hotel_cluster] += append_0

    f.close()
    ###########################
    if validate == 1:
        print('Validation...')
        f = open("./train1.csv", "r")
    else:
        print('Generate submission...')
        f = open("./test1.csv", "r")
    now = datetime.datetime.now()
    path = 'submission_' + str(now.strftime("%Y-%m-%d-%H-%M")) + '.csv'
    out = open(path, "w")
    f.readline()
    total = 0
    totalv = 0
    out.write("id,hotel_cluster\n")
    topclasters = nlargest(5, sorted(popular_hotel_cluster.items()), key=itemgetter(1))

    while 1:
        line = f.readline().strip()
        total += 1
        if total % 1000000 == 0:
            print('Write {} lines...'.format(total))

        if line == '':
            break

        arr = line.split(",")
        if validate == 1:
            book_year = int(arr[0][:4])
            book_month = int(arr[0][5:7])
            user_location_city = arr[5]
            orig_destination_distance = arr[6]
            user_id = int(arr[7])
            is_package = int(arr[9])
            srch_destination_id = arr[16]
            is_booking = int(arr[18])
            hotel_country = arr[21]
            hotel_market = arr[22]
            hotel_cluster = arr[23]
            #adding kids
            kids=int(arr[14])
            if kids>0:
                kids=1
            #add channel
            #channel=arr[10]
            cont=arr[3]
            id = 0
            if user_id % N0 != N1:
               continue
            if is_booking == 0:
               continue
        else:
            id = arr[0]
            user_location_city = arr[6]
            orig_destination_distance = arr[7]
            user_id = int(arr[8])
            is_package = int(arr[10])
            srch_destination_id = arr[17]
            hotel_country = arr[20]
            hotel_market = arr[21]
            is_booking = 1
            #adding kids
            kids=int(arr[15])
            if kids>0:
                kids=1
            #channel=arr[11]
            cont=arr[4]

        totalv += 1
        out.write(str(id) + ',')
        filled = []

        s1 = (user_location_city, orig_destination_distance)
        if s1 in best_hotels_od_ulc:
            d = best_hotels_od_ulc[s1]
            topitems = nlargest(5, sorted(d.items()), key=itemgetter(1))
            for i in range(len(topitems)):
                if len(filled) == 5:
                    break
                if topitems[i][0] in filled:
                    continue
                out.write(' ' + topitems[i][0])
                filled.append(topitems[i][0])
                if validate == 1:
                   if topitems[i][0]==hotel_cluster:
                      hits[len(filled)] +=1
        # add channel
        s2 = (srch_destination_id, hotel_country, hotel_market,is_package,cont)
        if s2 in best_hotels_search_dest:
            d = best_hotels_search_dest[s2]
            topitems = nlargest(5, d.items(), key=itemgetter(1))
            for i in range(len(topitems)):
                if len(filled) == 5:
                    break
                if topitems[i][0] in filled:
                    continue
                out.write(' ' + topitems[i][0])
                filled.append(topitems[i][0])
                if validate == 1:
                   if topitems[i][0]==hotel_cluster:
                      hits[len(filled)] +=1
        elif srch_destination_id in best_hotels_search_dest1:
            d = best_hotels_search_dest1[srch_destination_id]
            topitems = nlargest(5, d.items(), key=itemgetter(1))
            for i in range(len(topitems)):
                if len(filled) == 5:
                    break
                if topitems[i][0] in filled:
                    continue
                out.write(' ' + topitems[i][0])
                filled.append(topitems[i][0])
                if validate == 1:
                   if topitems[i][0]==hotel_cluster:
                      hits[len(filled)] +=1


        if hotel_country in best_hotel_country:
            d = best_hotel_country[hotel_country]
            topitems = nlargest(5, d.items(), key=itemgetter(1))
            for i in range(len(topitems)):
                if len(filled) == 5:
                    break
                if topitems[i][0] in filled:
                    continue
                out.write(' ' + topitems[i][0])
                filled.append(topitems[i][0])
                if validate == 1:
                   if topitems[i][0]==hotel_cluster:
                      hits[len(filled)] +=1


        for i in range(len(topclasters)):
            if len(filled) == 5:
                    break
            if topclasters[i][0] in filled:
                continue
            out.write(' ' + topclasters[i][0])
            filled.append(topclasters[i][0])
            if validate == 1:
                if topclasters[i][0]==hotel_cluster:
                    hits[len(filled)] +=1


        out.write("\n")
    out.close()
    print('Completed!')
# validation >>>
    scores = 0.0
    classified = 0
    if validate == 1:
        for jj in range(1,6):
           scores +=  hits[jj]*1.0/jj
           tp[jj] = hits[jj]*100.0/totalv
           classified += hits[jj]
        misclassified = totalv-classified
        miscp = misclassified*100.0/totalv
        print("")
        print(" validation")
        print("----------------------------------------------------------------")
        print("position %8d %8d %8d %8d %8d %8d+" % (1,2,3,4,5,6))
        print("hits     %8d %8d %8d %8d %8d %8d " % (hits[1],hits[2],hits[3],hits[4],hits[5],misclassified))
        print("hits[%%]  %8.2f %8.2f %8.2f %8.2f %8.2f %8.2f " % (tp[1],tp[2],tp[3],tp[4],tp[5],miscp))
        print("----------------------------------------------------------------")
        print("MAP@5 = %8.4f " % (scores*1.0/totalv))
    # <<< validation

run_solution()

Preparing arrays...
Validation...
Write 1000000 lines...
Completed!

 validation
----------------------------------------------------------------
position        1        2        3        4        5        6+
hits         3986     1497     1038      834      757     6654
hits[%]     26.99    10.14     7.03     5.65     5.13    45.06
----------------------------------------------------------------
MAP@5 =   0.3684

In [14]:
import pandas as pd
data=pd.read_csv("./10precentsample.csv")

In [7]:
data.shape

(3767029, 25)

In [15]:
n=1880000
train1=data[:n]
test1=data[n:]

In [23]:
train1.to_csv("./train1.csv",index=False)
test1.to_csv("./test1.csv",index=False)

In [19]:
train1.drop('id',inplace=True,axis=1)

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [20]:
#Original  MAP@5 =   0.3919 
#----------------------------------------------------------------
#hits         4246     1608     1087      906      738     6181 
#hits[%]     28.76    10.89     7.36     6.14     5.00    41.86 
#----------------------------------------------------------------
#MAP@5 =   0.3919 

channel
----------------------------------------------------------------
position        1        2        3        4        5        6+
hits         3982     1531     1018      829      696     6710 
hits[%]     26.97    10.37     6.89     5.61     4.71    45.44 
----------------------------------------------------------------
MAP@5 =   0.3680 

 kids
----------------------------------------------------------------
position        1        2        3        4        5        6+
hits         4183     1563     1104      884      715     6317 
hits[%]     28.33    10.59     7.48     5.99     4.84    42.78 
----------------------------------------------------------------
MAP@5 =   0.3858 

continent (posa)
----------------------------------------------------------------
position        1        2        3        4        5        6+
hits         4166     1583     1046      886      795     6290 
hits[%]     28.21    10.72     7.08     6.00     5.38    42.60 
----------------------------------------------------------------
MAP@5 =   0.3851 

 country
----------------------------------------------------------------
position        1        2        3        4        5        6+
hits         3986     1497     1038      834      757     6654 
hits[%]     26.99    10.14     7.03     5.65     5.13    45.06 
----------------------------------------------------------------
MAP@5 =   0.3684

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2014-07-23 12:53:08,2,3,66,226,25300,214.2170,567716,1,0,...,0,1,17563,1,0,1,2,50,1235,95
1,2014-10-02 11:13:01,2,3,66,442,28620,909.3756,1151980,0,1,...,0,1,11972,1,0,5,4,8,1456,97
2,2014-12-31 20:47:24,2,3,66,331,4065,2291.0514,668388,0,0,...,4,2,25061,6,0,1,2,50,1230,95
3,2014-04-22 10:47:38,2,3,66,348,48862,0.7366,1113637,0,0,...,0,1,45327,6,0,1,2,50,675,55
4,2014-10-13 06:24:02,2,3,66,226,42415,NaN,937533,1,0,...,0,1,16518,5,0,3,2,50,531,99
5,2013-07-05 13:30:29,2,3,66,337,18276,NaN,350136,0,0,...,0,1,11975,1,0,1,2,50,1507,94
6,2014-12-27 22:57:00,2,3,66,462,49272,4867.5555,1165498,0,0,...,0,1,21962,6,0,1,6,68,275,11
7,2014-08-05 18:37:36,2,3,66,442,18617,NaN,236722,0,1,...,0,1,8791,1,0,7,4,8,110,17
8,2014-03-14 15:28:06,13,1,46,245,37877,449.1164,959084,0,0,...,1,1,8253,1,0,1,6,70,19,11
9,2014-04-09 16:40:34,34,3,205,354,53713,357.1639,557808,1,1,...,0,1,8267,1,0,3,2,50,675,55
10,2014-09-03 13:29:24,37,1,69,596,20060,NaN,722109,0,1,...,0,1,12281,6,0,1,2,50,191,55
11,2013-10-14 21:17:19,2,3,66,333,4178,NaN,646691,0,0,...,2,1,14803,1,0,2,2,50,558,41
12,2014-04-24 13:48:22,2,3,66,220,8159,836.7418,222166,0,1,...,0,1,8816,1,0,2,4,163,1935,29
13,2014-12-20 07:23:22,2,3,66,321,42936,NaN,938340,0,1,...,0,1,8245,1,0,1,6,22,245,15
14,2014-09-16 22:49:20,8,4,77,977,53780,2739.1800,103008,0,1,...,0,2,11815,1,0,7,3,5,1701,63
15,2014-10-24 16:22:52,2,3,66,258,4687,8990.8618,167572,0,0,...,0,1,20845,6,0,1,3,182,1408,84
16,2013-08-07 18:06:19,24,2,3,50,5703,NaN,1182932,0,0,...,1,1,20813,6,0,3,6,70,312,58
17,2014-09-05 15:17:16,24,2,3,50,5703,NaN,1166939,0,0,...,0,1,23631,1,0,1,6,12,807,2
18,2014-03-15 16:19:12,24,2,3,51,41641,NaN,19909,1,0,...,2,1,12206,6,0,1,2,50,628,1
19,2013-06-18 13:37:14,37,1,69,655,12684,NaN,610382,0,1,...,0,1,8289,1,0,1,6,107,36,11
20,2013-03-23 11:30:05,8,4,77,401,20474,NaN,443843,0,1,...,0,1,8257,1,0,2,0,63,1108,49
21,2013-05-28 14:10:18,2,3,66,351,36508,5403.5404,165933,0,0,...,0,1,47256,4,0,1,6,22,245,20
22,2013-04-24 05:37:22,2,3,66,442,76,341.4826,845414,0,0,...,0,2,19034,1,0,1,2,50,514,94
23,2013-06-24 14:18:25,2,3,66,174,5938,1608.1054,588286,1,0,...,0,1,12228,6,0,2,2,50,411,9
24,2014-06-09 16:29:36,2,3,66,311,42961,80.4090,1107010,0,0,...,2,1,8846,1,0,1,2,50,691,6
25,2014-09-27 15:25:57,2,3,66,174,17494,4790.6083,430307,0,0,...,0,1,22869,6,0,1,4,93,2085,9
26,2014-06-27 17:57:27,37,1,69,761,41949,NaN,247927,0,1,...,0,1,18633,6,0,3,6,68,275,55
27,2013-07-06 10:30:04,11,3,205,385,1347,2283.3092,744822,0,0,...,0,1,26414,6,0,1,2,198,399,95
28,2014-09-21 12:39:27,8,4,77,871,36643,1693.1465,477306,0,1,...,0,1,12702,5,0,1,0,87,58,61
29,2013-09-23 16:55:01,24,2,3,50,5703,NaN,477117,0,0,...,0,1,17158,5,0,2,3,104,326,85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1879970,2014-01-03 10:55:07,37,1,69,727,40366,NaN,105911,1,1,...,0,1,11853,1,0,1,2,50,702,28
1879971,2014-06-27 20:21:48,37,1,69,661,7133,NaN,60190,0,1,...,2,1,8855,1,0,1,2,50,213,87
1879972,2013-01-16 03:43:50,2,3,149,290,33116,NaN,166938,0,0,...,1,1,39316,4,0,2,3,182,79,61
1879973,2013-07-23 16:54:55,2,3,66,220,48444,2412.7488,1182119,1,0,...,0,1,12269,6,0,1,2,50,1230,41
1879974,2014-11-21 16:27:55,24,2,229,407,16373,NaN,958758,0,0,...,0,1,20225,6,0,1,3,182,46,57
1879975,2014-04-09 04:12:25,2,3,66,311,37484,2402.7414,889417,0,1,...,0,1,22391,1,0,2,4,146,1547,80
1879976,2014-11-18 13:41:59,2,3,66,442,43828,254.4805,802955,1,0,...,0,1,8277,1,0,2,2,50,412,39
1879977,2014-11-10 16:40:01,37,1,69,999,38040,NaN,1065552,0,0,...,0,1,8223,1,0,1,2,50,690,56
1879978,2013-03-26 08:12:36,2,3,231,68,42296,NaN,543039,0,0,...,0,1,8745,1,0,4,6,204,1614,48
1879979,2013-08-20 16:12:43,2,3,66,442,17871,137.8168,547242,0,0,...,0,1,8277,1,0,1,2,50,412,42
1879980,2014-12-16 22:38:46,2,3,66,174,16292,250.5864,1139467,1,0,...,2,1,8250,1,0,1,2,50,628,88
1879981,2014-07-24 18:09:44,2,3,66,352,30279,3.4938,841319,0,0,...,0,1,26601,6,0,1,2,50,550,72
1879982,2013-09-06 20:05:03,13,1,46,172,13218,5481.8153,1068090,0,0,...,0,1,8220,1,0,1,3,182,46,64
1879983,2014-06-22 23:18:03,2,3,66,462,19997,915.4915,1064138,0,0,...,1,1,18790,1,0,1,2,50,361,28
1879984,2014-11-08 00:29:10,37,1,69,990,12811,NaN,615887,0,1,...,0,1,8746,1,0,13,6,105,29,21
1879985,2014-08-31 18:55:49,2,3,66,448,31350,400.0730,1148779,0,0,...,0,1,12233,6,0,1,2,50,675,70
1879986,2014-05-14 14:37:31,37,1,69,675,46828,NaN,398564,0,1,...,0,1,8230,1,0,1,2,50,637,97
1879987,2013-06-17 10:48:59,37,1,70,47,14566,NaN,714077,0,0,...,0,1,20825,6,0,2,3,182,1493,57
1879988,2014-06-26 10:26:51,8,4,77,344,9380,1152.0115,1006153,0,0,...,0,1,19239,1,0,1,0,63,1489,59
1879989,2014-09-04 16:53:58,2,3,66,174,24103,956.0817,1081233,1,0,...,0,1,12272,6,0,1,2,50,663,72
1879990,2014-12-16 13:08:51,11,3,205,354,44939,1185.7158,735138,0,0,...,0,1,11353,1,0,1,2,50,699,72
1879991,2014-04-16 10:56:13,2,3,66,174,26232,6783.3464,546014,0,0,...,0,1,8215,1,0,1,6,208,951,64
1879992,2013-11-22 22:43:45,2,3,66,174,24103,5978.5993,879908,0,0,...,0,1,20327,1,0,1,3,126,262,78
1879993,2014-12-11 06:41:46,2,3,181,238,14762,NaN,412097,0,0,...,0,1,8855,1,0,1,2,50,213,26
1879994,2013-11-09 10:03:56,10,0,182,376,10516,5929.7932,956454,0,0,...,1,1,8254,1,0,2,2,50,365,73
1879995,2014-09-25 14:23:11,2,3,80,38,52486,NaN,948517,0,0,...,0,1,8255,1,1,1,6,77,20,76
1879996,2013-07-31 09:02:09,2,3,66,325,23534,434.2161,814287,0,0,...,0,1,24846,6,0,1,2,50,661,16
1879997,2013-09-17 16:16:25,2,3,66,174,36046,1857.8572,612931,1,0,...,0,1,42630,3,0,1,2,50,637,69
1879998,2013-08-05 02:55:02,2,3,70,47,14566,NaN,826293,0,0,...,0,1,8220,1,0,2,3,182,46,36
1879999,2014-12-27 05:42:03,2,3,66,337,26644,1570.2538,92332,0,1,...,0,1,11938,1,0,1,4,8,126,65