In [11]:
train = pd.read_csv("./kaggle/expedia/data/train.csv",
                    dtype={'is_booking':bool,'srch_destination_id':np.int32, 'hotel_cluster':np.int32},
                    usecols=['srch_destination_id','is_booking','hotel_cluster'],
                    chunksize=1000000)
aggs = []
print('-'*38)
for chunk in train:
    agg = chunk.groupby(['srch_destination_id',
                         'hotel_cluster'])['is_booking'].agg(['sum','count'])
    agg.reset_index(inplace=True)
    aggs.append(agg)
    print('.',end='')
print('')
aggs = pd.concat(aggs, axis=0)
aggs.head(40)

--------------------------------------
......................................

    srch_destination_id  hotel_cluster  sum  count
0                     1             20    0      2
1                     1             30    0      1
2                     1             60    0      2
3                     4             22    1      2
4                     4             25    1      2
5                     4             30    0      4
6                     4             32    0      1
7                     4             38    0      2
8                     4             40    2      6
9                     4             58    0      1
10                    4             78    3      6
11                    4             81    0      2
12                    4             82    2      7
13                    8              7    1     13
14                    8             10    0      1
15                    8             16    3     11
16                    8             32    1      5
17                    8             39    0      1
18                    8             42    2     11
19                    8             43    1      7
20                    8             47    0      2
21                    8             48    2     13
22                    8             60    1      4
23                    8             76    0      1
24                    8             77    1      5
25                    8             91    0      2
26                    9             20    0      2
27                    9             61    0      1
28                    9             75    0      3
29                   11             16    0      1
30                   11             42    1      5
31                   11             47    0      2
32                   11             48    0      3
33                   11             51    0      2
34                   11             94    1      5
35                   14             20    2      8
36                   14             75    0      3
37                   14             78    0      1
38                   16              7    3      9
39                   16             30    0      2

In [12]:
CLICK_WEIGHT = 0.05
agg = aggs.groupby(['srch_destination_id','hotel_cluster']).sum().reset_index()
agg['count'] -= agg['sum']
agg = agg.rename(columns={'sum':'bookings','count':'clicks'})
agg['relevance'] = agg['bookings'] + CLICK_WEIGHT * agg['clicks']
agg.head()

   srch_destination_id  hotel_cluster  bookings  clicks  relevance
0                    0              3         0       2       0.10
1                    1             20         4      22       5.10
2                    1             30         2      20       3.00
3                    1             57         0       1       0.05
4                    1             60         0      17       0.85

In [19]:
def most_popular(group, n_max=5):
    relevance = group['relevance'].values
    hotel_cluster = group['hotel_cluster'].values
    most_popular = hotel_cluster[np.argsort(relevance)[::-1]][:n_max]
    return np.array_str(most_popular)[1:-1] # remove square brackets

In [20]:
most_pop = agg.groupby(['srch_destination_id']).apply(most_popular)
most_pop = pd.DataFrame(most_pop).rename(columns={0:'hotel_cluster'})
most_pop.head()

                      hotel_cluster
srch_destination_id
0                                 3
1                       20 30 60 57
2                    20 30 53 46 41
3                             53 60
4                    82 25 32 58 78

In [21]:
test = pd.read_csv('./kaggle/expedia/data/test.csv',
                    dtype={'srch_destination_id':np.int32},
                    usecols=['srch_destination_id'],)

In [22]:
test = test.merge(most_pop, how='left',left_on='srch_destination_id',right_index=True)
test.head()

   srch_destination_id   hotel_cluster
0                12243   5 55 37 11 22
1                14474               5
2                11353   0 31 77 91 96
3                 8250   1 45 79 24 54
4                11812  91 42  2 48 59

In [23]:
test.hotel_cluster.isnull().sum()

14036

In [24]:
most_pop_all = agg.groupby('hotel_cluster')['relevance'].sum().nlargest(5).index
most_pop_all = np.array_str(most_pop_all)[1:-1]
most_pop_all

'91 48 42 59 28'

In [25]:
test.hotel_cluster.fillna(most_pop_all,inplace=True)

In [26]:
test.hotel_cluster.to_csv('predicted_with_pandas.csv',header=True, index_label='id')